
    <div class="container">
     <div class="row"> 
      <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
<h1 class="panel-title"> Welcome to website </h2>
 <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %> |
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %> |
   <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
          </div>
        </div>
      </div>
    </div>
  </div>

