

<div class="table-responsive">
<%= form_for @college ,:html => {:multipart => true} do |f| %>
<table class="table" >
 
  	<tr>
			<td>College Name:</td>
			<td>
				<%= f.text_field :colname %>
				<%= validation_errors @college.errors['colname'] %>
			</td>
	</tr>
	<tr>
			<td>College Address</td>
			<td>
				<%= f.text_area :coladd %>
				<%= validation_errors @college.errors['coladd'] %>
			</td>
	</tr>
	<tr>	
	<td>
        <label  for="exampleInputFile"> College Photo </label>
        <%= f.file_field :image,:onchange =>"validateFiles(this);",
          :data => {
          :max_file_size => 500.kilobytes
        }, :id => "exampleInputFile" %>
      
      </td>
      </tr>
	 <tr>
	
		<td>
        	  	<%= f.submit "Save" %>
		</td>
	
		<td>
				<%= link_to "Cancel",colleges_path %>
		</td>
	</tr>
</table>
<% end %>
  <script type="text/javascript">
    function validateFiles(inputFile) {
      var maxExceededMessage = "This file exceeds the maximum allowed file size (500 KB)";
      var extErrorMessage = "Only image file with extension: .jpg, .jpeg, .gif or .png is allowed";
      var allowedExtension = ["jpg", "jpeg", "gif", "png"];

      var extName;
      var maxFileSize = $(inputFile).data('max-file-size');
      var sizeExceeded = false;
      var extError = false;

      $.each(inputFile.files, function() {
        if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
        extName = this.name.split('.').pop();
        if ($.inArray(extName, allowedExtension) == -1) {extError=true;};
      });
      if (sizeExceeded) {
        window.alert(maxExceededMessage);
        $(inputFile).val('');
      };

      if (extError) {
        window.alert(extErrorMessage);
        $(inputFile).val('');
      };
    }
  </script>
</div>